# FastAPI config
API_HOST=http://localhost:8000
API_USERNAME=agrisat-demo
API_PASSWORD=agrisat-demo

# Gemini
GEMINI_MODEL=gemini-2.0-flash
GOOGLE_API_KEY=YOUR-API-KEY-HERE

# If you're using Ollama
OLLAMA_ENABLE=True
OLLAMA_MODEL=gemma4:12b
OLLAMA_API_BASE=http://localhost:8001

# if you want to use MLflow for tracing
# OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=https://localhost:5000/v1/traces
# OTEL_EXPORTER_OTLP_TRACES_HEADERS=x-mlflow-experiment-id=EXPERIMENT-ID
# Agent
AGENT_WEB=False
