# FastAPI config
API_HOST=http://localhost:3000
API_USERNAME=agrisat-demo
API_PASSWORD=agrisat-demo

# If you're using Gemini
GEMINI_MODEL=gemma-4-26b-a4b-it
GEMINI_API_KEY=API-KEY-HERE

# If you're using Ollama
# OLLAMA_API_BASE=http://localhost:8001
